@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body, form, input, button {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: #5a279c; */
  /* color: #fff; */
  /* border: 2px solid red; */
  height: 100vh;
}
input {
  /* border: 2px solid khaki; */
  /* background-color: khaki; */
}
.inputbox {
  display: inline-block;
  /*
  justify-content: center;
  align-items: center;
  flex-flow: column wrap; */
  height: 64px;
  width: 300px;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* -webkit-transform: translate(-50%, -50%); */
          /* transform: translate(-50%, -50%); */
  border: 2px solid blue;
  /* background-color: blue; */
}

.inputbox input {
  /* check later */
  width: 100%;
  min-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  /* later */
  padding: 10px 0;
  border: 0;
  background: none;
  width: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100%;
  -webkit-transition: width 400ms ease-in-out, border-radius 400ms ease-in-out, padding 200ms;
  transition: width 400ms ease-in-out, border-radius 400ms ease-in-out, padding 200ms;
  -webkit-transition-delay: 0s, 400ms, 0s;
          transition-delay: 0s, 400ms, 0s;
  -webkit-box-shadow: 0 0 0 1px currentColor;
          box-shadow: 0 0 0 1px currentColor;
  color: inherit;
  cursor: pointer;
  height: 60px;
  padding: 10px 0;
  padding-right: 50px;
  font-weight: lighter;
  font-family: 'Roboto';
  border: 2px solid black;
  border: 1px solid #fff;
  background-color: ;
}
.inputbox input:focus, .inputbox input:valid {
  width: 100%;
  -webkit-transition-delay: 400ms, 0s, 400ms;
          transition-delay: 400ms, 0s, 400ms;
  outline: 0;
  border-radius: 0;
  height: 60px;
  cursor: text;
  padding-left: 10px;
  /* border: 2px solid orange; */
  /* background-color: orange; */
}
.inputbox input:focus + .del, .inputbox input:valid + .del {
  pointer-events: all;
  left: calc(100% - 25px);
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
  /* border: 2px solid royalblue; */
  /* background-color: royalblue; */
}
.inputbox input:focus + .del:focus, .inputbox input:valid + .del:focus {
  -webkit-box-shadow: 0 0 0 1px currentColor;
          box-shadow: 0 0 0 1px currentColor;
  height: 37.5px;
  width: 37.5px;
  /* border: 2px solid lime; */
  /* background-color: lime; */
}
.inputbox input:focus + .del:before, .inputbox input:valid + .del:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  /* border: 2px solid HotPink; */
  /* background-color: HotPink; */
}
.inputbox input:focus + .del:after, .inputbox input:valid + .del:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  /* border: 2px solid Olive; */
  /* background-color: Olive; */
}
.inputbox .del {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  padding: 0;
  background: none;
  border-radius: 100%;
  border: 0;
  pointer-events: none;
  -webkit-transition: left 400ms ease-in-out;
  transition: left 400ms ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: inherit;
  cursor: pointer;
  /* border: 2px solid Crimson; */
  /* background-color: Crimson; */
}
.inputbox .del:focus {
  outline: none;
  /* border: 2px solid DarkViolet; */
  /* background-color: DarkViolet; */
}
.inputbox .del:before {
  content: '';
  position: absolute;
  /* top: 50%; later*/
  /* left: 50%; later*/
  background: currentColor;
  width: 3px;
  height: 37.5px;
  -webkit-transform: translate(34px, 34px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
          transform: translate(34px, 34px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 700ms ease-in-out;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
  /* border: 2px solid Turquoise; */
  /* background-color: Turquoise; */
}
.inputbox .del:after {
  content: '';
  position: absolute;
  /* top: 50%; later*/
  /* left: 50%; later*/
  background: currentColor;
  width: 3px;
  height: 37.5px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 700ms ease-in-out;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
  /* border: 2px solid SpringGreen; */
  /* background-color: SpringGreen; */
}

input[required] {
  /* background-color: pink; */
  border: 2px solid black;
  /* border: 1px solid #fff; */
}
